<%= form_tag sessions_path, :method => :post do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="field">
    <%= check_box_tag :remember_me, 1, params[:remember_me] %>
    <%= label_tag :remember_me %>
  </div>
  <div class="actions"><%= submit_tag "Log in" %></div>
  
<% end %>

<div class="forgot_password">
  <%= form_tag password_resets_path, :method => :post do %>
    <%= text_field_tag :email, params[:email], :placeholder => "Email" %>
    <%= submit_tag "Reset my password!", :class => "btn" %>
  <% end %>
</div>