<div class="row hide-for-small-only" style="margin-top:55px;line-height:40px;margin-bottom:50px;">
  <div class="large-6 columns">
    <%= image_tag((@user.profile_image ? @user.profile_image : "user-avatar.jpg"), :alt => "This is you! (?)", :id => "profile_photo_preview", :class => "img-polaroid", :style => "width: 100%;") %>
  </div>
  <div class="large-6 columns">
    <div id="name">
      <%= @user.first_name %> <%= @user.last_name %>
    </div>
    
    <div id="tagline">
      "Tagline here"
      <%= @user.tagline %>
    </div>
    
    <div id="company">
      <a href="<%= @user.company_site %>"><%= @user.company %> </a>
    </div>
    
    <div id="catagories">
      Catagories:
      <% @user.categories.each do |c| %>
        <%= c.name %><br />
      <% end %>
    </div>
    
    <div id="bio">
      <%= @user.bio %>
    </div>
    
    <div id="social">
      <ul>
        <li class="nobg"><a href="#"><div id="facebookicon"></div></a></li>
        <li class="nobg"><a href="#"><div id="twittericon"></div></a></li>
        <li class="nobg"><a href="#"><div id="dribbleicon"></div></a></li>
        <li class="nobg"><a href="#"><div id="gicon"></div></a></li>
        <li class="nobg"><a href="#"><div id="lnicon"></div></a></li>
        <li class="nobg"><a href="#"><div id="instagramicon"></div></a></li>
        <li class="nobg"><a href="#"><div id="githubicon"></div></a></li> 
      </ul>
    </div>
    
  </div>
</div>

<div class="row hide-for-small-only" style="margin-bottom:50px;">
  <div class="large-5 columns"><hr></div>
  <div id ="mywork" class="large-2 columns"><strong>My Work</strong></div>
  <div class="large-5 columns"><hr></div>
</div>  