<div id="profile" class="row">
  <div class="large-6 columns">
    <%= image_tag((@user.profile_image ? @user.profile_image : "user-avatar.jpg"), :alt => "#{@user.first_name} #{@user.last_name}", :id => "profile_photo_preview", :class => "img-polaroid", :style => "width: 100%;") %>
  </div>
  <div class="large-6 columns">
    <div id="profile_details" >
      <div id="name">
        <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      </div>
    
      <div id="tagline">
        <% if @user.tagline && @user.tagline != "" %>
          <h3>"<%= @user.tagline %>"</h3>
        <% end %>
      </div>
      
      <% if @user.company && @user.company != "" %>
        <div id="company">
          <% if @user.company_site %>
            <h4>Company: <%= link_to(@user.company, "#{@user.company_url}", :target => "_blank") %></h4>
          <% else %>
            <h4>Company: <%= @user.company %></h4>
          <% end %>
        </div>
      <% end %>
    
      <div id="categories">
        <% @user.categories.each do |c| %>
          <%= link_to c.name, category_path(c.id), :class => "category_#{c.id} red_button" %>
        <% end %>
      </div>
      
      <% if @user.bio && @user.bio != "" %>
        <div id="bio">
          <hr>
          <p>
            <%= @user.bio %>
          </p>
          <hr>
        </div>
      <% end %>
      
      <% if @user.contact_links.length >0 %>
        <div id="social">
          <p><strong>Follow me, and introduce yourself:</strong></p>
          <ul>
            <% @user.contact_links.each do |social| %>
              <% if social[1] != "" %>
                <li class="nobg"><a href="<%= social[1] %>" target="_blank" id="<%= social[0] %>icon" class="social_icon"></a></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>
      
      <% if @user.website && @user.website != "" %>
        <div id="personal_site">
          <p><strong>My personal site:</strong> <%= link_to(@user.website, @user.personal_url) %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
