<div id="edit_works">
  <div class="row">
    <% @user.images.each do |image| %>
      <div class="large-3 columns">
        <a href="<%= image.file %>" style="width: 100%;" data-lightbox="image" data-title="<%= @user.first_name %>'s Image"><%= image_tag(image.file.square, :style => "width: 100%;") %></a>
        <%= link_to("Delete Image", image, :method => :delete, :class => "red_button") %>
      </div>
    <% end %>
    <% if current_user  && current_user == @user %>
      <div class="large-3 columns">
        <div id="upload_profile_photo_container" class="row">
          
          <%= form_for(@image, :html => {:multipart => true, :id => "upload_profile_photo"}) do |f| %>
            <div class="field">
              <div id="functional_file_button">
                <%= f.file_field :file, :id => "profile_photo_field" %>
              </div>
              <%= image_tag("add_new_image.jpg", :style => "width: 100%;") %>
            </div>
            <%= f.hidden_field :user_id, :value => "#{current_user.id}" %>
            <%= f.submit "Upload", :style => "display: none" %>
          <% end %>
          
        </div>
      </div>
    <% end %>
  </div>
</div>