<div class="row" style="max-width:none;">

  <div class="row" id="face-display">
    <!-- Class 'display_group_[0, 1, 2,..]' can be used to show/hide display 
            of faces in groups of 12 -->
    <% @users.each_with_index do |user, i| %>
      <div class="large-3 columns display_group_<%=i/12%>">
        <div class="workinthathover">
          <%= link_to (image_tag((user.profile_image ? user.profile_image : "user-avatar.jpg"), :alt => "This is you! (?)", :class => "img-polaroid testimage")), view_profile_path(user.username) %>
          <div class="display_name display_name_hidden" >
            <%= user.first_name %> <%= user.last_name %>        
          </div>        
          <div class="category_name category_name_hidden">

            <%= user.tagline %>
          </div>
          <div style="display: none;">
            <%= link_to 'Show', user %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
</div>
