<%= render :partial => '/users/profile' %>

<div id="profile_edit" class="row">
  <% if current_user %>
    <% if current_user.admin  || current_user == @user %>
      <%= link_to 'Edit Profile', edit_user_path(@user), :class => "red_button" %>
    <% end %>
  <% end %>
</div>

<div class="row" style="margin-bottom:50px;">
  <div class="large-5 columns"><hr></div>
  <div id ="mywork" class="large-2 columns"><strong>My Work</strong></div>
  <div class="large-5 columns"><hr></div>
</div>

<div id="works">
  <div class="row">
    <% @user.images.each do |image| %>
      <div class="large-3 columns">
        <%= link_to(image_tag(image.file.square, :style => "width: 100%;"), image.file, :data-lightbox => "image-1", :data-title => "My caption")%>
        <%= image_tag(image.file.square, :style => "width: 100%;") %>
      </div>
    <% end %>
    <% if current_user  && current_user == @user %>
      <div class="large-3 columns">
        <%= link_to((image_tag("plus.jpg", :style => "width: 100%;")), new_image_path) %>
      </div>
    <% end %>
  </div>
</div>
