<p id="notice"><%= notice %></p>

    <%= image_tag((@user.profile_image ? @user.profile_image : "user-avatar.jpg"), :alt => "This is you! (?)", :id => "profile_photo_preview", :class => "img-polaroid") %>
    <div id="name">
      <%= @user.first_name %> <%= @user.last_name %>
    </div>
    
    <div id="company">
      <%= @user.company %></br>
      <%= @user.company_site %>
    </div>
    
    <div id="tagline">
      Tagline here
      <%= @user.tagline %>
    </div>
    
    <div id="catagories">
      Catagories here
      <% @user.categories.each do |c| %>
        <%= c.to_s %>
      <% end %>
    </div>
    
    <div id="Bio">
      Bio here
      <%= @user.bio %>
    </div>
    
    <div id="social">
      Social media links here
    </div>
    
    <div id="works">
      My Works here
      <% @user.images.each do |image| %>
        <%= image_tag(image.file) %>
      <% end %>
      
      
    </div>
    
<div>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>