<div id="events_text">
  <div class="row">
    <div class="large-4 columns">
      <p></p>
    </div>
    <div class="large-4 columns">
      <h1>Upcoming Events</h1>
    </div>
    <div class="large-4 columns">
      <%= link_to "submit a new event", :new_event, :class => "red_button" %>
    </div>
  </div>
</div>
<div id="events_text">
  <% @events.each do |event| %>
  <div class="row upcoming_event_bar">
    <div class="large-4 columns">
      <%= "#{event_date(event.start_time)}" %>
    </div>
    <div class="large-4 columns">
      <%= "#{event.name}" %>
    </div>
    <div class="large-4 columns">
      <%= "#{event.venue}" %>
    </div>
  </div>
</div>
<div class="row event_display">
  <div class="large-4 columns">
    <h3><div id="red_text">OMA</div>WHEN</h3>
    <p>Starts at <%= "#{event_time(event.start_time)}" %><br/>
    Ends around <%= "#{event_time(event.end_time)}" %></p>
  </div>
  <div class="large-4 columns">
    <h3><div id="red_text">OMA</div>WHO</h3>
  </div>
  <div class="large-4 columns">
    <h3><div id="red_text">OMA</div>WHERE</h3>
    <%= "#{event.location}" %>
  </div>
</div>
<% end %>
<div id="events_text">
  <div class="row">
    <div class="large-4 columns">
      <p></p>
    </div>
    <div class="large-4 columns">
      <h1 id="past_events_heading">Past Events</h1>
    </div>
    <div class="large-4 columns">
      <p></p>
    </div>
  </div>
</div>
<div id="events_text">
  <% @past_events.each do |event| %>
  <div class="row past_event_bar">
    <div class="large-4 columns">
      <%= "#{event_date(event.start_time)}" %>
    </div>
    <div class="large-4 columns">
      <%= "#{event.name}" %>
    </div>
    <div class="large-4 columns">
      <%= "#{event.venue}" %>
    </div>
  </div>
</div>
<div class="row event_display">
  <div class="large-4 columns">
    <h3><div id="red_text">OMA</div>WHEN</h3>
    <p>Started at <%= "#{event_time(event.start_time)}" %><br/>
    Ended around <%= "#{event_time(event.end_time)}" %></p>
  </div>
  <div class="large-4 columns">
    <h3><div id="red_text">OMA</div>WHO</h3>
  </div>
  <div class="large-4 columns">
    <h3><div id="red_text">OMA</div>WHERE</h3>
    <%= "#{event.location}" %>
  </div>
</div>  
<% end %>