<h1>NAME GAME (Check Answers)</h1>
<div>
  <%= image_tag(@profile_img, :alt => "This is you! (?)", :id => "profile_photo_preview", :class => "img-polaroid") %>  
</div>

<div>
    <div>
      <p><%= "Hi! My name is #{@user.full_name.titleize}" %></p>
      <% if @name_guess_correct %>
        <p class="correct"><%= "You were right!" %></p>   
      <% else %>
        <p class="incorrect"><%= "You said it was #{@guessed_name.downcase.titleize}" %></p>   
      <% end %>   
    </div>
    <div>
      <p><%= "I work at #{@user.company}" %></p>
      <% if @co_guess_correct %>
        <p class="correct"><%= "You were right!" %></p>   
      <% else %>
        <p class="incorrect"><%= "You said it was #{@guessed_co}" %></p>   
      <% end %>   
    </div>
    <hr>
    <div>
        <p>Follow me, and introduce yourself:</p>
        <div>
          <% @user.contact_links.each do |c_type, c_link| %>
            <p class=<%="#{c_type}"%>>
              <a href="<%= 'http://example.com/'+c_link %>" class=<%="#{c_type}"%>>
                <%= c_link %>
              </a>
            </p>
          <% end %>
    </div>
    <hr>
    <div>
      <p><%= link_to "SHOW ANOTHER FACE", name_game_path, class: "red_button" %></p>
    </div>
</div>

