<h1>NAME GAME</h1>

<%= form_tag check_quiz_path do %>
  <%= label_tag :name_guess, "What's my name?" %>
  <%= text_field_tag :name_guess, nil, :placeholder => "first and last name please" %>
  <% @companies.each do |c| %>
    <%= radio_button_tag(:company, c) %>
    <%= label_tag :company, c %>
  <% end %>
  <%= submit_tag "Take a Guess", :name => nil %>
<% end %>
