<div id="headerguy"> 
  <div id="header_content" class="row">
    <div id="left_nav_buttons" class="small-3 large-3 columns hide-for-small-only">
      <%= link_to("about", :about, class: "red_button") %>
      <%= link_to "name game", name_game_path %>
    </div>
    <div class="small-6 large-6 columns hide-for-small-only">
      <%= link_to(image_tag("/assets/logo.png", id: "logo"), :root)%>
      <p id="header_tagline">THE FACES OF OMAHA'S CREATIVE COMMUNITY.</p>
    </div>
    <div id="right_nav_buttons" class="small-3 large-3 columns hide-for-small-only">
      <% if current_user %>
        <%= link_to("logout", logout_path, class: "red_button") %>
        <%= link_to("your face", view_profile_path(current_user.username), class: "red_button") %>
      <% else %>
        <%= link_to("login", :login, class: "red_button") %>
        <%= link_to("add your face", :signup, class: "red_button") %>
      <% end %>
    </div>

    <div class="show-for-small-only">
      <%= link_to(image_tag("/assets/logo.png", id: "logo"), :root)%>
      <p id="header_tagline">THE FACES OF OMAHA'S CREATIVE COMMUNITY.</p>
    </div>
  </div>
</div>