<div id="mobile_menu_bar" class="show-for-small-only">
  <p>menu</p>

  <ul class="goaway">
    <li><%= link_to("events", :events, class: "red_button") %></li>
    <li><%= link_to("name game", name_game_path, class: "red_button") %></li>
    <% if current_user %>
      <li><%= link_to("logout", logout_path, class: "red_button") %></li>
      <li><%= link_to("your face", view_profile_path(current_user.username), class: "red_button") %></li>
    <% else %>
      <li><%= link_to("login", :login, class: "red_button") %></li>
      <li><%= link_to("add your face", :signup, class: "red_button") %></li>
    <% end %>
  </ul>
  
  <%= form_tag name_search_path, :method => 'get' do %>
    <div id="search_container" class="row">
      <div class="small-8 columns"><%= search_field_tag :name_query, params[:name_query], :id=>"search_field"%></div>
      <div class="small-4 columns"><%= submit_tag "Search", :name => nil, :id => "search_button" %></div>
    </div>
  <% end %>
</div>