<!DOCTYPE html>
<html>
<head>
  <title>Omawho</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//use.typekit.net/pqx3hzf.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body class="tk-museo-sans">
  <div id="wrap">
    <div id="main">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
   
  <%= render :partial => '/layouts/headernav' %>
  <%= render :partial => '/layouts/mobilenav' %>
  <%= render :partial => '/layouts/largenav' %>
  
  <%= yield %>
</div>
</div>
</body>  
  <div id="footer">
  <%= render :partial => '/layouts/footer' %>
</div>
</html>
