<!DOCTYPE html>
<html>
<head>
  <title>Omawho</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="//use.typekit.net/pqx3hzf.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body class="tk-museo-sans">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
   
  <%= render :partial => '/layouts/headernav' %>
  <%= render :partial => '/layouts/mobilenav' %>
  <%= render :partial => '/layouts/largenav' %>
  
  <%= yield %>
  
  <%= render :partial => '/layouts/footer' %>
</body>
</html>
